@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Star Wars Hollow";
  src: url("../_fonts/Starjedi.ttf") format("truetype");
}

.react-flow__handle {
  opacity: 0;
}
